*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
section{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.diseae-identification-container{
    text-align: center;
    width: 100%;
    padding: 1em .5em;
    max-width: 41em;
    background-color: white;
    box-shadow: 0 0.1em 0.2em;
    height: 40vh;
}

#page-heading{
    letter-spacing: 1.5px;
    padding: 1em;
}

select, option {
    width: 40%;
    border: 0.01em solid black;
}

#file-input {
    display: none;
}

.upload-image-button{
    margin: 2em;
}

#file-input-label {
    font-size: 1.3em;
    padding: 10px 15px;
    border: 1px solid black;
    background-color: #8bb33c;
    color: white;

  }

#submit-button{
    border: 1px solid black;
    background-color: #8bb33c;
    color: white;
    padding: 0.4em 0.6em;
}