@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}


/* ===== Custom Styling ===== */
section{
  letter-spacing: 1.5px;
  min-height: 50vh;
  margin-bottom: 50px;
}

h1{
  margin-top: 20px;
  position: relative; 
  text-align: center;  
  letter-spacing: 1.5px; 
}
h1::before {
  content: "";
  position: absolute;
  left: 36.5%;
  bottom: 0;
  height: 2px;
  width: 60px;
  background: linear-gradient(135deg, #4CAF50, #4CAF50);
  transform: translateX (-36.5%);
}
.img{
  display: flex;
  width: 60%;
  text-align: justify;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

p{
  margin-top: 90px;
  margin-left: 40px;
  float: right;
  
}
.info {
  width: 60%;
  text-align: justify;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.info ul li{
  margin-top: 5px;

}
a{
  text-decoration: none;
} 

/* footer */
.footer{
    position: relative;
}


